.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 100px 156px;
  row-gap: 48px;
}

.gallery-item {
  width: 360px;
  height: 300px;
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal {
  max-width: 100%;
}
